

.p-dialog{
    width: 100vw !important;
}

.add-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: var(--dialog-bg);
  color: var(--dialog-text);
    padding: 0.5rem;
}
 
.add-form .p-field {
    margin-bottom: 0.75rem;
}
 
.add-form label {
    display: block;
    font-weight: 600;
    margin-bottom: 0.25rem;
}
 
.add-form input {
    padding: 5px;
}
 
button {
    padding: 5px;
}
 
.p-dialog .p-button {
    min-width: 10rem;
}
 
.p-dialog .p-button.p-button-primary {
    background-color: #1976d2;
    border-color: #1976d2;
}
 
.select {
    padding: 0.4rem;
    background: var(--input-bg);
    color: var(--dialog-text);
  /* border: 1px solid var(--dialog-border); */
    border-radius: 5px;
    min-width: 250px;
}
 
.p-field label {
    opacity: 0.9;
    font-weight: 400;
    font-size: 0.9rem;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}
 
.required {
    color: red;
}
 

.buttons {
    display: flex;
    gap: 1rem;
    margin: 1rem;
}
 
.btn {
   min-width: 250px;
   padding: 10px;
   border: 1px solid #cbd5e1;
   border-radius: 8px;
}
 
.btn-add {
   background-color: #155dfc;
   color: white;
   border: none;
}
 
.btn-add:hover {
    background-color: #1976d2;
}
 
.btn-cancel {
    background-color: var(--button-cancel-bg);
  color: var(--dialog-text);
  border: 1px solid var(--dialog-border);
}
 
.btn-cancel:hover {
    background-color: var(--button-cancel-hover);
}
 
/* Make address take full row */
.address-field {
  grid-column: span 2;      /*  full width */
  display: flex;
  flex-direction: column;  /*  label on top */
}
 
/* Textarea styling */
.address {
  width: 85%;
  resize: vertical;
  padding: 0.5rem;
  border: 1px solid lightgrey;
  border-radius: 6px;
}
 

.address-field label {
  margin-bottom: 0.25rem;
  font-weight: 400;
}