* {
    margin: 0;
    padding: 0; 
}

html, body {
    height: 100%;
}

.main-content {
    flex-grow: 1;
    padding: 2rem;
    overflow-y: auto;
}

.app-container {
    display: flex;
    height: 100vh;
    background: var(--app-bg);
}

.logo {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    
}

a {
    text-decoration: none;
    font-weight: 600;
    display: flex;
    color: var(--a-color);
    padding: 0.75rem;
    border-radius: 6px;
}

.sidebar a:hover {
    background: var(--surface-hover);
    color: var(--a-color);
}

.sidebar a.active {
  background: var(--sidebar-active-color);
  color: #60a5fa;
}

.sidebar {
   width: 300px;
  height: 100vh;
  background: var(--sidebar-bg);
  border-right: 1px solid var(--sidebar-border);
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.sidebar a {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0.75rem 1rem;
    border-radius: 8px;
    text-decoration: none;
    margin-bottom: 0.5rem;
    color: var(--router-link-color);
}

.sidebar i {
    font-size: 1rem;
    min-width: 18px;
}

i {
    margin-right: 10px;
}

a.active {
    background: #e0e7ff;
    color:  #1976d2;
}

.theme-toggle {
    width: 200px;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px;
    margin-top: 330px;
    margin-left: 25px;
   transition: transform 0.2s ease, box-shadow 0.2s ease;
   color: var(--theme-toggle-color);  
}
/* 
.button:hover {
    background: var(--surface-hover);
} */

.theme-toggle:hover {
    background: var(--surface-hover);
}

.logout {
    background: transparent;
    margin: 25px;
    text-align: left;
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    color: #f44336;
    font-size: 1rem;
    cursor: pointer;
}

.logout:hover {
    background: rgba(244, 67, 54, 0.1);
}

.user-info {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 1rem;
  margin-bottom: 1rem;
  background: var(--user-info-bg);
  color: var(--a-color);
  border-radius: 12px;
}

.user-avatar {
  width: 42px;
  height: 42px;
  background: #2563eb;
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.user-details {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-weight: 600;
  font-size: 0.95rem;
}

.user-role {
  font-size: 0.8rem;
  color: #6b7280;
}
  