@import "primeicons/primeicons.css";



html,
body,
app-root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
  overflow: hidden;
}

p {
  color: var(--p-text-color);
}

.container {
  display: flex;
  gap: 1rem;
  padding: 5px;
  margin-bottom: 10px;
}

.card .p-chart {
  height: 320px;
}

@media (max-width: 600px) {
  .card canvas {
    height: 260px !important;
  }
}

:root {
  color-scheme: light;

  --app-bg: #f8fafc;
  --sidebar-bg: #f3f4f6;
  --sidebar-border: #e5e7eb;

  --summary-card-bg: #ffffff;
  --shadow-sm: 0 4px 12px rgba(0, 0, 0, 0.1);

  --sidebar-active-color: #e0e7ff;
  --sidebar-hover-bg: #e2e5e9;
  --user-info-bg: #e7ecf0;

  --edit-hover-bg: rgba(34, 197, 94, 0.15);
  --delete-hover-bg: rgba(239, 68, 68, 0.15);

  --card-bg: #ffffff;
  --summary-card-bg: #ffffff;
  --quickstats-bg: #ffffff;

  --delete-background: #e0e7ff;
  --delete-btn-bg: var(--color-blue-50);
  --delete-btn-text: #1e3a8a;

  --primary: #2563eb;
    --primary-soft: #dbeafe;
 
    --success: #10b981;
    --success-soft: #d1fae5;
 
    --warning: #f59e0b;
    --warning-soft: #fef3c7;
 
    --indigo: #6366f1;
    --indigo-soft: #e0e7ff;

    --table-bg: #fcfdfd;
    --table-hover-bg: #f3f4f6;
}

.p-dark {
  color-scheme: dark;

  --app-bg: #080d18;
  --sidebar-bg: #111827;
  --sidebar-border: #1f2937;

  --summary-card-bg: #111827;
  --shadow-sm: 0 8px 20px rgba(0, 0, 0, 0.35);

  --sidebar-active-color: #1e3a8a;
  --sidebar-hover-bg: #546072;
  --user-info-bg: #1e293b;

  --edit-hover-bg: rgba(34, 197, 94, 0.2);
  --delete-hover-bg: rgba(239, 68, 68, 0.2);

   --card-bg: #111827;          /* gray-800 */
  --summary-card-bg: #1f2937;
  --quickstats-bg: #111827;  
 
  --delete-background: #1d2942;
  --delete-btn-bg: color-mix(
    in srgb,
    oklch(.379 .146 265.522) 20%,
    transparent
  );
  --delete-btn-text: #ffffff;

  --primary: #60a5fa;
    --primary-soft: rgba(96, 165, 250, 0.2);
 
    --success: #34d399;
    --success-soft: rgba(52, 211, 153, 0.2);
 
    --warning: #fbbf24;
    --warning-soft: rgba(251, 191, 36, 0.2);
 
    --indigo: #a5b4fc;
    --indigo-soft: rgba(165, 180, 252, 0.2); 

    --table-bg: #111827;
    --table-hover-bg: #1f2937;
}

.p-datatable .p-datatable-thead > tr > th,
.p-datatable .p-datatable-tbody > tr > td {
  background: var(--table-bg) !important;
  color: var(--text-primary) !important;
}

.p-datatable .p-datatable-tbody > tr:hover > td {
  background: var(--table-hover-bg) !important;
}
 
.p-datatable .p-datatable-thead > tr > th:hover {
  background: var(--table-hover-bg) !important;
}

body {
  background: var(--app-bg);
}

.sidebar {
  background: var(--sidebar-bg);
  border-right: 1px solid var(--sidebar-border);
}

.summary-card {
  background: var(--summary-card-bg);
  box-shadow: var(--shadow-sm);
  border-radius: 12px;
}

.edit-hover:hover {
  background: var(--edit-hover-bg);
}

.delete-hover:hover {
  background: var(--delete-hover-bg);
}

.p-datatable-header {
  background: none !important;
}

.p-datatable-header {
    background: transparent !important;
    border: none !important;
    padding: 0 !important;
}
