@import "primeicons/primeicons.css";

* {
    padding: 0;
    margin: 0;
}
h2 {
    color: var(--h2-color);
}
.container {
    display: flex;
    gap: 1rem;
    padding: 5px;
    margin-bottom: 10px;
}

/* p-chart {
  display: block;
  width: 100%;
} */

.card p-chart {
  height: 300px;
}

.card p-chart {
  height: 320px;
}

@media (max-width: 600px) {
  .card canvas {
    height: 260px !important;
  }
}





/* Themes */
:root {
  color-scheme: light;  /* this is, so that the browser open in light mode as soon as we open it*/
  --app-bg: var(--p-gray-50);
 --table-bg: #ffffff;
  --card-bg: #ffffff;

  --text-primary: var(--p-gray-800);
  --text-secondary: var(--p-gray-500);

  --border-color: var(--p-gray-200);
  --shadow-sm: 0 4px 12px rgba(0, 0, 0, 0.05);

   --p-text-color: #374151; /* dark gray for light mode */
   --dashboard-text-color: #374151;
   --h2-color: black;

   /* Footer */
   --footer-text-color: black;
   --footer-h4-color: black;
   
  
  --tr-color: #ffffff;
  --td-color: black;
  --search-color: black;
  --th-background-color: #ffffff;
  --table-background-color: #ffffff;

  --sidebar-bg: #f3f4f6;
  --router-link-color: black;
 --theme-toggle-color: black;

  --table-header-bg: #ffffff;

   /* Light mode hover (matches your screenshot) */
  --table-hover-bg: #f3f6fb;

  /* Light mode hover text */
  --table-hover-text: #111827;

  /* dialog */
  --dialog-bg: #ffffff;
  --dialog-text: #111827;
  /* --dialog-border: #e5e7eb; */
  --input-bg: #ffffff;
  --button-cancel-bg: #ffffff;
  --button-cancel-hover: #f5f6f8;
  --summary-card-bg: #ffffff;

  

  
}

body.dark-theme {
  --app-bg: var(--p-gray-900);
  --table-bg: var(--p-gray-800);
  --card-bg: var(--p-gray-800);
  --text-primary: var(--p-gray-100);
  --text-secondary: var(--p-gray-400);
  --border-color: var(--p-gray-700);
  --shadow-sm: 0 8px 20px rgba(0, 0, 0, 0.35);
  --p-text-color: #ffffff; /* white in dark mode */
  --dashboard-text-color: #ffffff; 
  --h2-color: white;

  /* Footer */
  --footer-text-color: #ffffff;
  --footer-h4-color: #ffffff;
   --tr-color: var(--p-gray-900);
   --td-color: #ffffff;
   --th-background-color: rgb(33, 31, 31);
   --th-color: #ffffff;
   --search-color: #ffffff;
   --table-background-color: black;
    --sidebar-bg: #020617;
    --router-link-color: #ffffff;
    --theme-toggle-color: #ffffff;

     --table-header-bg: var(--p-gray-800);

      /* Dark mode hover */
  --table-hover-bg: #2a2a2a;

  /* Dark mode hover text */
  --table-hover-text: #9ca3af;

  --dialog-bg: #020617;
  --dialog-text: #e5e7eb;
  /* --dialog-border: #1e293b; */
  --input-bg: #020617;
  --button-cancel-bg: #020617;
  --button-cancel-hover: #0b1220;

  --summary-card-bg: var(--p-gray-800);
}

p {
  color: var(--p-text-color);
}
.p-datatable .p-datatable-header {
  background: var(--table-header-bg) !important;
  border: none;
}
.p-dialog .p-dialog-header,
.p-dialog .p-dialog-content,
.p-dialog .p-dialog-footer {
  background: var(--dialog-bg);
  color: var(--dialog-text);
  /* border-color: var(--dialog-border); */
}





